name: bluetooth_scanner
description: "A new Flutter plugin project."
version: 0.0.1
homepage:

environment:
  sdk: ^3.8.1
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  logger: ^2.6.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
 plugin:
    platforms:
      android:
        package: xyz.olekslukian.bluetooth_scanner
        pluginClass: BluetoothScannerPlugin
      ios:
        pluginClass: BluetoothScannerPlugin

